<nz-layout class="content">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Главная</span>
      </li>
      <li nz-submenu nzTitle="Выбор" nzIcon="tool">
        <ul>
          <li nz-menu-item>
            <label nz-checkbox class="mode">Автоматически</label>
          </li>

          <li nz-menu-item>
            <label nz-checkbox class="mode">Вручную</label>
          </li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <h2 nz-typography class="title">
        <span class="title__wide">Узнайте наиболее вероятные данные</span>
        <span class="title__wide"
          >из <span class="title__accent">надежных источников</span></span
        >
      </h2>

      <download />
    </nz-content>
    <nz-footer>Merge Masters Team</nz-footer>
  </nz-layout>
</nz-layout>
