.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: transparent;
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.content {
  height: 100%;
}

.title__wide {
  display: block;
  width: 100%;
}

.title__accent {
  color: #1677ff;
}

.title {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 2%;
}

.mode {
  color: rgba(255, 255, 255, 0.65);
}

.stepper {
  margin-bottom: 2%;
}

.menu__home {
  background-color: #1677FF;
  border-radius: 5px;
}

